html {
    background-color: #222b32;
    min-height: 100%;
}

body {
    min-height: 100%;
}
.navbar {
    background-color: #fd444a;
    box-shadow: 3px 0px 10px #19262C;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.navbar form {

}

.navbar form input {
    border: none;
    background: none;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar form input:focus {
    border: none;
    background: none;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar form input::-webkit-input-placeholder {
    color: white;
}

.navbar form input:-moz-placeholder {
    color: white;
}

.navbar form input::-moz-placeholder {
    color: white;
}

.navbar form input:-ms-input-placeholder {
    color: white;
}

.navbar form input:-ms-input-placeholder {
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav a {
    color: white
}

.nav {
    z-index: 999;
    top: 63px;
    background-color: #181c1f;
    padding: 20px 5px 5px 5px;
    position: fixed;
    height: 100% !important;
    min-height: 100%;
    width: 200px;
    box-shadow: 2px 3px 5px 0px #19262C;
}

.nav .nav-link {
    color: white
}

.nav h3 {
    color: #fd444a;
    font-weight: normal;
    font-size: 18px;
}

.container-fluid {
    padding: 113px 50px 50px 50px;
    margin-left: 200px;
    background-color: #222b32;
    width: auto;
}

.container-fluid form {
    margin-top: 50px;
    width: 80%;
}

.container-fluid form label {
    color: white;
}

.container-fluid form input:focus {
    border-color: #fd444a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fd444a;
    outline: 0 none;
}

.container-fluid form button {
    margin-top: 5px;
    background-color:#fd444a;
    border: none;
    width: 100px;
    color: white;
    height: 50px;
}

.container-fluid form button:hover {
    background-color: #fd444a;
}

.container-fluid form button:active {
    background-color: #fd444a;
}
.container-fluid h2 {
    color: white;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0 auto;
}

.container-fluid .test {
    background-color: white;
    height: 250px;
    width: 200px;
    margin: 20px 20px 20px 0px;
}
.movie {
    background:white;
    height:250px;
    box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie-container {
    margin:5px 20px 0px 0px;
    width:175px;
    float:left;
}
.movie-container h2{
    margin-top:15px;
    color:white;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}
.movie-rating {
    text-align:center;
    width:40px;
    height:25px;
    background:#FD444A;
    color:white;
    margin: 0 auto;
    position:relative;
    top:12px;
    border: 0px solid;
    border-radius: 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
}

.user-container {
    margin:10px;
    width:225px;
    height:65px;
    border:1px solid #FD444A;
    float:left;
}

.user-info {
    float:left;
    height:100%;
    color:white;
    width:70%;
    padding-top:5px;
    padding-left:10px;
    background:#181C1F;
}

.user-info h1{
    font-size:20px;
}

.user-info h2{
    font-size:15px;
}

.user-button {
    background-color:#FD444A;
    height:100%;
    width:30%;
    float:right;
    text-align:center;
    vertical-align: middle;
    line-height: 63px;
}

.logged-out {
    flex-direction: row;
}
.movie-rating-bar {
    width:350px;
    height:50px;
    background-color: #fd444a;
    color:white;
    text-align:center;
    font-size:25px;
    font-weight:100;
    vertical-align: middle;
    line-height: 45px;
}
.movie-poster-container figure {
    border:0px solid black;
}
.movie-poster {
    height:500px;
    width:350px;
    background: #000;
    box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.movie-information-container {
    color:white;
    margin-left:20px;
}
.rating-button {
    margin-top:50px;
}
.edit-button {
    margin-top:5px;
}
.movie-information-container h2 {
    float:left;
}
.movie-information-container h3 {
    font-size:20px;
    font-weight: 100;
    clear:both;
}

#profile {
    font-size:30px;
}

#name {
    color:white;
    font-weight:100;
    font-size:20px;
    margin-bottom:50px;
}
.buttons {
    color:#fd444a;
}
.buttons a  {
    text-decoration: none;
    color:#fd444a;
}
.movie-description {
    font-weight: 100;
}
.movie-year {
    color:gray;
    margin-left:5px;
}

.clickable {
    display: block;
    text-decoration: none;
    color: inherit;
}

.clickable:hover {
    color: inherit;
}
.slider {
    margin-top: 50px;
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #181c1f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FD444A;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
@media all and (max-width: 700px) {
    .navbar form input {
        width: 100px;
    }

    .nav {
        width: 150px;
    }

    .container-fluid {
        margin-left: 140px;
    }

    .user-container {
        margin-left: -30px;
    }
}

@media all and (max-width: 593px) {
    .movie-poster {
        height:350px;
        width:210px;
    }
    .movie-rating-bar {
        width:210px;
    }

    .movie-information-container {
        margin-left: 0;
        margin-top: 15px;
    }
}

@media all and (max-width: 808px) {
    .movie-information-container {
        margin-left: 0;
        margin-top: 15px;
    }
}
